*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("../img/pokeballs-background.jpg");
  background-size: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  overflow-x: hidden;
}

li {
  list-style: none;
}

@media (max-width: 500px) {
  .logo {
    width: 300px;
  }
}

img {
  padding: 10px;
  width: 350px;
  height: 200px;
}

.pokemonCard__imagePokemon {
  width: 220px;
  height: 200px;
}

.pokemonCard {
  text-transform: capitalize;
}

.main-container {
  padding: 70px;
}

.main-title {
  display: flex;
  justify-content: space-around;
}

.pokemonCard {
  padding: 20px;
  height: 350px;
  width: 250px;
  background-color: #e25734;
  border-radius: 50px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px;
}

.pokemonList {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
